<section class="work-section py-3">

    <h3 class="text-uppercase resume-section-heading mb-4">{{ i18n "experiences" }}</h3>

    {{ range (sort (where .Site.RegularPages "Type" "experience") .Params.date "desc") }}
    {{ with .Params }}
    <div class="item mb-3">
        <div class="item-heading row align-items-center mb-2">
            <h4 class="item-title col-12 col-md-6 col-lg-5 mb-2 mb-md-0">{{ .title }}</h4>
            <div class="item-meta col-12 col-md-6 col-lg-7 text-muted text-left text-md-right">
                {{ with .company }}{{ . }}{{ end }}
                {{ with .location }} | {{ . }}{{ end }}
                {{ with .dates }} | {{ . }}{{ end }}</div>
        </div>
        <div class="item-content">
            <p>{{ with .description }}{{ . | markdownify }}{{ end }}</p>
            {{ with .taglines }}
            <ul class="resume-list">
                {{ range . }}
                <li>{{ . | markdownify }}</li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </div><!--//item-->
    {{ end }}
    {{ end }}

</section><!--//work-section-->