<section class="skills-section py-3">

    <h3 class="text-uppercase resume-section-heading mb-4">{{ i18n "skills" }}</h3>

    {{ range (sort (where .Site.RegularPages "Type" "skills") .Params.date "desc") }}
    {{ with .Params }}
    <div class="item">
        {{ with .title }}<h4 class="item-title">{{ . }}</h4>{{ end }}
        <ul class="list-unstyled resume-skills-list">
            {{ range .skills }}
            <li class="mb-2">{{ . | markdownify }}</li>
            {{ end }}
        </ul>
    </div><!--//item-->
    {{ end }}
    {{ end }}

</section><!--//skills-section-->